
<h1 class="text-primary">CONTATTI</h1>

  <div class="container">
      <div *ngFor="let user of users" class="card">
        <div class="card-body">
          <h4 class="card-title">{{user.id}}</h4>
          <h4 class="card-title">{{user.name}}</h4>
          <h4 class="card-title">{{user.email}}</h4>
          <h4 class="card-title">{{user.gender}}</h4>
          <h4 class="card-title">{{user.status}}</h4>
          <button type="button" class="btn btn-primary" (click)="deleteUser(user.id)">DELETE</button>
          <button type="button" class="btn btn-primary" data-mdb-toggle="modal" data-mdb-target="#exampleModal" (click)="openpopup(user.id)">CHANGE</button>
        </div>
      </div>
  </div>


<!-- Button trigger modal -->

  <!-- Modal -->
<form [formGroup]="homeform" (ngSubmit)="onSubmit()">
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Change User</h5>
          <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
    <div class="example-container">
        <mat-form-field >
            <mat-label>Name</mat-label>
            <input matInput placeholder="Name" formControlName="name">
          </mat-form-field>
        <mat-form-field>
          <mat-label>Enter your email</mat-label>
          <input matInput placeholder="pat@example.com" formControlName="email">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Select me</mat-label>
            <mat-select formControlName="gender">
              <mat-option value="male">Male</mat-option>
              <mat-option value="female">Female</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Select me</mat-label>
            <mat-select formControlName="status">
              <mat-option value="active">Active</mat-option>
              <mat-option value="inactive">Inactive</mat-option>
            </mat-select>
          </mat-form-field>
      </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" data-mdb-dismiss="modal">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</form>

  

